services:
  postgres:
    image: postgres:14-alpine
    container_name: ecoroute-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${DB_USER:-user}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-password}
      - POSTGRES_DB=${DB_NAME:-ecoroute}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-user} -d ${DB_NAME:-ecoroute}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ecoroute-network

  keycloak:
    image: quay.io/keycloak/keycloak:23.0.0
    container_name: ecoroute-keycloak
    command: start-dev
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - "8080:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
    networks:
      - ecoroute-network

  localstack:
    image: localstack/localstack
    container_name: ecoroute-localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,sqs,sns
      - DEFAULT_REGION=us-east-1
      - EDGE_PORT=4566
      - DEBUG=1
    volumes:
      - "./infra/localstack:/etc/localstack/init/ready.d" # Init scripts
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - ecoroute-network

  ecoroute-backend:
    build: .
    container_name: ecoroute-backend
    restart: always
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - DB_NAME=${DB_NAME:-ecoroute}
      - DB_USER=${DB_USER:-user}
      - DB_PASSWORD=${DB_PASSWORD:-password}
    depends_on:
      postgres:
        condition: service_healthy
      localstack:
        condition: service_started
    networks:
      - ecoroute-network

  ecoroute-web-admin:
    build:
      context: ./web-admin
      dockerfile: Dockerfile
    container_name: ecoroute-web-admin
    ports:
      - "3000:80"
    depends_on:
      - ecoroute-backend
    networks:
      - ecoroute-network

networks:
  ecoroute-network:
    driver: bridge

volumes:
  postgres_data:
  keycloak_data:
